.float-right{
	float:right;
}
.comment-dropdown{
	bottom: 22%;
	left: 1%;
}
.float-left{
	float:left;
}
.counselled-task{
	background: #cfffcf;
}
.uncounselled-task{
	background: #ff8c8c;;
}
.unclaimed-task{
	background: #ffc;
}
.duplicate-task{
	background: #f0d49f;
}
.comment-dropdown{
	position: absolute;
	
	width: 30px;
	height: 30px;
	padding: 0px;
	background:transparent;

}
select {
  /* Reset */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  /* Personalize */
  width: 20em;
  height: 3em;
  padding: 0 4em 0 1em;
  background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg) no-repeat right 0.8em center/1.4em, linear-gradient(to left, rgba(255, 255, 255, 0.3) 3em, rgba(255, 255, 255, 0.2) 3em);
  color: black;
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  /* <option> colors */
  /* Remove focus outline */
  /* Remove IE arrow */
}
select option {
  color: inherit;
  background-color: white;
}
select:focus {
  outline: none;
}
select::-ms-expand {
  display: none;
}

.dash-logo-img{
	top: 17%;
	left:20%;
}

.bg-gradient-white{
	background-image: linear-gradient(195deg, #FFF 0%, #EEE 100%);
}

.bg-gradient-whatsapp{
	background-image: linear-gradient(195deg, #1BD741 0%, #1BD741 100%);
}
.bg-gradient-justdial{
	background-image: linear-gradient(195deg, #379df1 0%, #379DF1 100%);
}

.nav-item{
	cursor:pointer;
}
.nav-item.active{
	background-image: linear-gradient(195deg, #133B5C 0%, #133B5C 100%);
	color:white;
}

/* https://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* -------------------------------- 

Primary style

-------------------------------- */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: "Lato", sans-serif;
  color: #8f9cb5;
  background-color: #ffd88f;
}

a {
  color: #35a785;
  text-decoration: none;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.img-replace {
  /* replace text with an image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  color: transparent;
  white-space: nowrap;
}

/* -------------------------------- 

xnugget info 

-------------------------------- */
.cd-nugget-info {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 50px;
  line-height: 50px;
  bottom: 0;
  left: 0;
}
.cd-nugget-info a {
  position: relative;
  font-size: 14px;
  color: #5e6e8d;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
.no-touch .cd-nugget-info a:hover {
  opacity: .8;
}
.cd-nugget-info span {
  vertical-align: middle;
  display: inline-block;
}
.cd-nugget-info span svg {
  display: block;
}
.cd-nugget-info .cd-nugget-info-arrow {
  fill: #5e6e8d;
}

/* -------------------------------- 

Main components 

-------------------------------- */
header {
  height: 200px;
  line-height: 200px;
  text-align: center;
  background-color: #5e6e8d;
  color: #FFF;
}
header h1 {
  font-size: 20px;
  font-size: 1.25rem;
}

@media only screen and (min-width: 1170px) {
  .cd-popup-trigger {
    margin: 6em auto;
  }
  
}

/* -------------------------------- 

xpopup 

-------------------------------- */
.cd-popup {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(85, 89, 96, 0.37);
  opacity: 0;
  visibility: hidden;
  z-index: 99999999;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
.cd-popup.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-popup-container {
border-radius: var(--bs-card-border-radius);
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: 4em auto;
  background: #FFF;
  border-radius: .25em .25em .4em .4em;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px);
  /* Force Hardware Acceleration in WebKit */
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.cd-popup-container p {
  padding: 3em 1em;
}
.cd-popup-container .cd-buttons:after {
  content: "";
  display: table;
  clear: both;
}
.cd-popup-container .cd-buttons li {
  float: left;
  width: 50%;
  list-style: none;
}
.cd-popup-container .cd-buttons a {
  display: block;
  height: 60px;
  line-height: 60px;
  text-transform: uppercase;
  color: #FFF;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.cd-popup-container .cd-buttons li:first-child a {
  background: #b6bece;
  border-radius: 0 0 0 .25em;
}
.no-touch .cd-popup-container .cd-buttons li:first-child a:hover {
  background-color: #fc8982;
}
.cd-popup-container .cd-buttons li:last-child a {
  background: #2b465d;
  border-radius: 0 0 .25em 0;
}
.no-touch .cd-popup-container .cd-buttons li:last-child a:hover {
  background-color: #c5ccd8;
}
.cd-popup-container .cd-popup-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
}
.cd-popup-container .cd-popup-close::before, .cd-popup-container .cd-popup-close::after {
  content: '';
  position: absolute;
  top: 12px;
  width: 14px;
  height: 3px;
  background-color: #8f9cb5;
}
.cd-popup-container .cd-popup-close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 8px;
}
.cd-popup-container .cd-popup-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 8px;
}
.is-visible .cd-popup-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
@media only screen and (min-width: 1170px) {
  .cd-popup-container {
    margin: 8em auto;
  }
}

.cd-popup-close2{
	cursor:pointer;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
:root {
  --primary-color: #185ee0;
  --secondary-color: #e6eef9;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabs {
  display: flex;
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
  padding: 0.75rem;
  border-radius: 12px;
}
.tabs * {
  z-index: 2;
}

.tabs input[type=radio] {
  display: none;
}

.tab {
   display: flex;
	align-items: center;
	justify-content: center;
	height: 1px;
	width: 162px;
	font-size: 1rem;
	font-weight: 500;
	border-radius: 12px;
	cursor: pointer;
	transition: color 0.15s ease-in;
}

.notification {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  margin-left: 0.75rem;
  border-radius: 50%;
  background-color: var(--secondary-color);
  transition: 0.15s ease-in;
}

.tabs input[type=radio]:checked + label {
  color: #133b5c;
}
.tabs input[type=radio]:checked + label > .notification {
  background-color: var(--primary-color);
  color: #fff;
}

.tabs input[id=radio-1]:checked ~ .glider {
  transform: translateX(2%);
}

.tabs input[id=radio-2]:checked ~ .glider {
  transform: translateX(104%);
}

.tabs input[id=radio-3]:checked ~ .glider {
  transform: translateX(205%);
}
.tabs input[id=radio-4]:checked ~ .glider {
  transform: translateX(307%);
}
.tabs input[id=radio-5]:checked ~ .glider {
  transform: translateX(410%);
}
.tabs input[id=radio-6]:checked ~ .glider {
  transform: translateX(510%);
}
.tabs input[id=radio-7]:checked ~ .glider {
  transform: translateX(610%);
}

.glider {
  position: absolute;
	display: flex;
	height: 25px;
	width: 162px;
	background-color: var(--secondary-color);
	z-index: 1;
	border-radius: 9px;
	transition: 0.25s ease-out;
	top: 6px;
}

@media (max-width: 700px) {
  .tab,.glider {
    width:13.5%;
  }
  .tabs{
	width:100%;
}
}

.task-container{
	display:none;
}

.task-container tbody tr:hover{
	background: aliceblue;
	cursor: pointer;
}




/*  POPUP 2 */

@media only screen and (min-width: 1170px) {
  .cd-popup-trigger2 {
    margin: 6em auto;
  }
  .comment-dropdown{
	bottom: 7%;
	left: 1%;
}
}

/* -------------------------------- 

xpopup 

-------------------------------- */

.cd-popup-profile {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(85, 89, 96, 0.37);
  opacity: 0;
  visibility: hidden;
  z-index: 99999999;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
.cd-popup-profile.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-popup2 {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(85, 89, 96, 0.37);
  opacity: 0;
  visibility: hidden;
  z-index: 99999999;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
.cd-popup2.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-popup-container2 {
border-radius: var(--bs-card-border-radius);
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: 4em auto;
  background: #FFF;
  border-radius: .25em .25em .4em .4em;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px);
  /* Force Hardware Acceleration in WebKit */
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.cd-popup-container2 p {
  padding: 3em 1em;
}
.cd-popup-container2 .cd-buttons2:after {
  content: "";
  display: table;
  clear: both;
}
.cd-popup-container2 .cd-buttons2 li {
  float: left;
  width: 50%;
  list-style: none;
}
.cd-popup-container2 .cd-buttons2 a {
  display: block;
  height: 60px;
  line-height: 60px;
  text-transform: uppercase;
  color: #FFF;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.cd-popup-container2 .cd-buttons2 li:first-child a {
  background: #b6bece;
  border-radius: 0 0 0 .25em;
}
.no-touch .cd-popup-container2 .cd-buttons2 li:first-child a:hover {
  background-color: #fc8982;
}
.cd-popup-container2 .cd-buttons2 li:last-child a {
  background: #2b465d;
  border-radius: 0 0 .25em 0;
}
.no-touch .cd-popup-container2 .cd-buttons2 li:last-child a:hover {
  background-color: #c5ccd8;
}
.cd-popup-container2 .cd-popup-close_2 {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
}
.cd-popup-container2 .cd-popup-close2::before, .cd-popup-container2 .cd-popup-close2::after {
  content: '';
  position: absolute;
  top: 12px;
  width: 14px;
  height: 3px;
  background-color: #8f9cb5;
}
.cd-popup-container2 .cd-popup-close2::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 8px;
}
.cd-popup-container2 .cd-popup-close2::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 8px;
}
.is-visible .cd-popup-container2 {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
@media only screen and (min-width: 1170px) {
  .cd-popup-container2 {
    margin: 8em auto;
  }
}

.cd-popup-close2_2{
	cursor:pointer;
}


.comment-textarea{
	border: 0.5px solid #bbb;
	position: absolute;
	left: 0px;
	bottom: 0px;
	border-radius: 0px;
	max-height: 40px;
	
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.comments-send-button{
	color: white;
	background: #133b5c;
	padding: 10px;
	border-radius: 0px 0px 13px 0px;
	right:0px;
	bottom:0px;
}

/* Add-Task css starts*/

.form-control2{
	display: block;
	width: 100%;
	padding: 0.5rem 0;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.5rem;
	color: #495057;
	background-color: transparent;
	background-clip: padding-box;
	border: 1px solid #d2d6da;
	appearance: none;
	border-radius: 0.375rem;
	transition: 0.2s ease;
}

.form-control2:focus {
  color: #495057;
  background-color: transparent;
  border-color: transparent;
  outline: 0;
  box-shadow: none;
}

.add-field-data-btn{
	height:25px;
	width:25px;
	position:absolute;
	top:0px;
	right:10%;
	line-height: 0.3 !important;
}

.left-form{
	border-right: 1px solid #d2d6da;
}
@media (max-width: 768px) {
	.left-form{
		border-right: none;
	}
	.automation-container #automation-form select{
		width:100%;
	}
}

#automation-form select{
	width:22%;
	margin-right: 1rem;
	border-radius: 0.5rem;
}

/* Add-Task css ends */



.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 21px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #b7b7b7;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
 height: 18px;
  width: 22px;
  left: -2.5px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #133B5C;
}

input:focus + .slider {
  box-shadow: 0 0 1px #133B5C;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.status-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 6px;
}

.status-dot.active {
  background-color: #28a745; /* green */
}

.status-dot.inactive {
  background-color: #dc3545; /* red */
}

#search-lead-box{
	height: 2.5rem;
}
#profilePreview{
	border-radius: 35px;
}

#modal-profile-image-wrapper:hover {
  filter: brightness(0.7);
}

.remove-profile-btn {
  position: absolute;
  bottom: 5px;
  left: 42%;
  transform: translateX(-50%);
  color: rgba(255, 0, 0, 0.8);
  border: none;
  background: #ffffff29;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 12px;
  display: none;
  cursor: pointer;
}
.edit-profile-btn{
position: absolute;
  bottom: 5px;
  left: 62%;
  transform: translateX(-50%);
  color: black;
  border: none;
  background: #ffffff29;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 12px;
  display: none;
  cursor: pointer;
}

#modal-profile-image-wrapper:hover .remove-profile-btn,.edit-profile-btn {
  display: block;
}
