<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review Your Leads</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <style>
        #summaryTable {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 1rem;
        }

        #summaryTable th, #summaryTable td {
            border: 1px solid #e2e8f0;
            padding: 0.5rem;
            text-align: left;
        }

        #summaryTable th {
            background-color: #f3f4f6;
            font-weight: bold;
        }

        #summaryTable td {
            font-size: 0.9rem;
        }

        .notification {
            display: inline-block;
            min-width: 20px;
            padding: 5px;
            background-color: red;
            color: white;
            border-radius: 50%;
            text-align: center;
            font-size: 0.8rem;
            margin-left: 5px;
        }

        .status-closed {
            color: red;
            font-weight: bold;
        }

        .status-converted, .status-admission-done {
            color: green;
            font-weight: bold;
        }

        .modal-content {
            max-height: 80vh;
            overflow-y: auto;
        }
		
		.active{
			background-color: rgba(29,78,216,var(--tw-bg-opacity));
		}
		@keyframes spin {
		   to {
		     transform: rotate(360deg);
		   }
		 }

		 .loader-spinner {
		   animation: spin 1s linear infinite;
		 }
		 .d-none{
			display: none;
		 }
    </style>
</head>
<body class="bg-gray-100">
    <div class="container mx-auto px-4 mt-8">
        <h1 class="text-3xl text-center mb-6">Review Your Leads</h1>
        <a id="searchLeadPopupBtn" style="position:fixed; bottom:20px; right:20px; padding:10px 20px; background-color:#007bff; color:white; text-decoration:none; border:none; border-radius:5px; cursor:pointer; font-size:16px; display:inline-block;">
        Search Lead
    	</a>
	<label for="year-filter" class="block text-gray-700 text-sm font-bold mb-2">Filter by Schedule Date:</label>
        <div class="mb-4 flex" >
            
            <div style="display: flex; flex-direction: row; align-items: center;" class="pr-2">
                <select id="yearSelect"  class="bg-white border border-gray-300 rounded-lg py-2 px-4  appearance-none leading-normal"  autocomplete="off">
					<option value="" selected>All Years</option>
				    <option th:each="year : ${yearCount.keySet()}" 
				            th:value="${year}" 
				            th:text="|${year} (${yearCount.get(year)})|">
                </select>
            </div>
            <div id="monthResults" style="display: flex; flex-direction: row; align-items: center;">
                <select id="monthResult" onchange="updateDayDropdown()" class="bg-white border border-gray-300 rounded-lg py-2 px-4 block appearance-none leading-normal" >
                    <option value="">All Months</option>
                </select>
            </div>
            <div id="dayResults" style="display: flex; flex-direction: row; align-items: center;" class="px-2">
                <select id="daySelect" onchange="filterByHierarchy()" class="bg-white border border-gray-300 rounded-lg py-2 px-4 block appearance-none leading-normal" >
                    <option value="">All Days</option>
                </select>
            </div>
        </div>
		<div class="flex">
			<div class="mb-3 mt-2 mr-2">
	            <label for="course-filter" class="block text-gray-700 text-sm font-bold mb-2">Filter by Course:</label>
	            <select id="courseType"  class="bg-white border border-gray-300 rounded-lg py-2 px-4 block w-full" autocomplete="off">
					<option value="">All Courses</option>
					<option th:each="course:${courses}" th:value="${course.courseName}" th:text="${course.courseName}"></option>
				</select>
	        </div>

	        <div class="mb-2 mt-2">
	            <label for="lead-type-filter" class="block text-gray-700 text-sm font-bold mb-2">Filter by Lead Type:</label>
	            <select id="leadType"  class="bg-white border border-gray-300 rounded-lg py-2 px-4 block w-full" autocomplete="off">
					<option value="">All</option>
					<option value="BLANK">BLANK</option>
					<option value="HOT">HOT</option>
					<option value="PROSPECT">PROSPECT</option>
					<option value="COLD">COLD</option>
				</select>
	        </div>
		</div>
		
		<button  class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 mb-5 rounded-md mt-2" id="applyFilter">Apply Filter</button>
		
        <table id="summaryTable">
            <tr><th>Total Leads</th><td id="totalLeads" th:text="${tableSummary.totalTasks}"></td></tr>
            <tr><th>Counselling Done</th><td id="counsellingDone" th:text="${tableSummary.counselledTasks}"></td></tr>
            <tr><th>Admission Done</th><td id="admissionDone" th:text="${tableSummary.admissionDoneTasks}"></td></tr>
            <tr><th>D.Pharm Admissions</th><td id="dPharmAdmissions" th:text="${tableSummary.dPharmAdmissions}"></td></tr>
            <tr><th>B.Pharm Admissions</th><td id="bPharmAdmissions" th:text="${tableSummary.bPharmAdmissions}"></td></tr>
			<tr><th>GMN Admissions</th><td id="gmnAdmissions" th:text="${tableSummary.gmnAdmissions}"></td></tr>
            <tr><th>Other Admissions</th><td id="otherAdmissions" th:text="${tableSummary.otherAdmissions}"></td></tr>
        </table>

        

        <div class="mb-4 mt-4">
			<button id="filterDefaultBtn" onclick="setApi('filterDefault')" class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded-md mb-2 tab-filter active">All Task <span id="totalLeadCount" class="notification"></button>
            <button id="without-commentsBtn" onclick="setApi('without-comments')"  class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded-md mb-2 tab-filter">No Comment <span id="noCommentCount" class="notification"></button>
            <button id="todaysScheduleBtn" onclick="setApi('todaysSchedule')" class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded-md mb-2 tab-filter">Today's Schedule<span id="todaysScheduledCount" class="notification"></span></button>
            <button id="withoutScheduleBtn" onclick="setApi('withoutSchedule')" class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded-md mb-2 tab-filter">Leads Without Schedule <span id="notScheduledCount" class="ml-2 bg-red-500 text-white rounded-full px-2 py-0.5"></span></button>
            <button id="counsellingNotDoneBtn"  onclick="setApi('counsellingNotDone')" class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded-md mb-2 tab-filter">Counselling Not Done <span id="notCounselledCount" class="ml-2 bg-red-500 text-white rounded-full px-2 py-0.5"></span></button>
            <button id="counsellingDoneBtn" onclick="setApi('counsellingDone')" class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded-md mb-2 tab-filter">Counselling Done <span id="counselledCount" class="ml-2 bg-red-500 text-white rounded-full px-2 py-0.5"></span></button>
			<button id="downloadReport" th:if="${role=='admin'}" class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded-md mb-2 ">Download</button>
        </div>

        <div id="leads-counter" class="text-gray-700 text-xl mb-4">Total Leads: 0</div>

        <div id="taskCardsContainer" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4"></div>

        <div id="leadModal" class="hidden fixed inset-0 bg-gray-900 bg-opacity-50 flex justify-center items-center">
            <div class="modal-content bg-white p-8 rounded-md max-w-md w-full">
                <h2 id="leadName" class="text-2xl font-medium mb-4"></h2>
                <div id="leadDetails"></div>
                <button id="closeLeadModal" class="mt-4 bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded-md">Close</button>
            </div>
        </div>

        <div id="popupModal" class=" modalClass hidden fixed inset-0 bg-gray-900 bg-opacity-50 flex justify-center items-center">
            <div class="modal-content bg-white p-8 rounded-md max-w-md w-full">
                <h2 class="text-2xl font-medium mb-4">Additional Lead Details</h2>
                <div id="popupDetails"></div>
				<button id="closePopupModal" class="mt-4 bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded-md">Close</button>
            </div>
			
        </div>
		
		<div id="searchLeadModal" class="modalClass hidden fixed inset-0 bg-gray-900 bg-opacity-50 flex justify-center items-center">
		            <div class="modal-content bg-white p-8 rounded-md max-w-md w-full">
		                <h2 class="text-2xl font-medium mb-4">Search Lead</h2>
		                <div id="searchLeadPopupDetails"></div>
						<button id="closePopupModal" class="mt-4 bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded-md">Close</button>
		            </div>
					
		        </div>
    </div>
	<div id="pagination" class="flex justify-center mt-4 space-x-2 text-sm mb-6"></div>
	<div id="loader" class="fixed inset-0 bg-white bg-opacity-50 flex items-center justify-center z-50 hidden">
	  <div class="loader-spinner border-4 border-blue-500 border-t-transparent rounded-full w-12 h-12 animate-spin"></div>
	</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>
	<script th:inline="javascript">
			
			var userName = /*[[${userName}]]*/''
			var messages =  /*[[${messages}]]*/''
        // Initialize globalData variable
        let globalData = [];

        // Initialize the application by loading data
        function initialize() {
			debugger
            fetch('/crmbot/report-json')
                .then(response => response.json())
                .then(data => {
                        debugger
                        globalData = data

                        // Filter and initialize data
                        const targetCaller = userName;
                       // globalData = globalData.filter(lead => lead['telecallerName'] === targetCaller);
                        globalData = globalData.filter(lead => lead['managerName'] !== 'vikasji7676@gmail.com');

                        // Assign unique ID to each lead
                        globalData = globalData.map((lead, index) => ({
                            ...lead,
                            id: `lead-${index}-${lead['phoneNumber'] || 'unknown'}`
                        }));

                        const dateMap = processLeadsByDate(globalData);
                        populateYearDropdown(dateMap); // Initialize by populating years
                        calculateSummaryInfo(globalData);
                        updateTodaysLeadsCount(globalData);
                        populateCourseDropdown();
                        populateLeadTypeDropdown();
                        renderLeads(globalData);
                        updateNoCommentCount();
                        updateCounsellingButtonCounts(); // Update counselling buttons count
                        updateLeadsWithoutScheduleCount();
                    //reader.readAsBinaryString(blob);
                });
        }


var password = "Darshana@ABS";

// Time period in milliseconds (12 hours = 12 * 60 * 60 * 1000)
var timePeriod = 12 * 60 * 60 * 1000;

// Function to protect with passcode



    </script>
        <script src="/js/script.js"></script>

</body>